
body{
    margin: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #bbc7c7;
}
header{
  border-bottom: 1px solid #b2c7c7 ;
}
.grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
}
section.baloon {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:60;
    align-items: center;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px;
}
section img, section.baloon img {
    width: 100%;
    border: 4px solid #fff;
    border-radius: 8px;
  }
  section {
    margin: 20px 10px;
  }
  
#one{
    padding-left: 40px;
}